<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ybt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEAFD2F31CC9C5B90013009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAFD30C1CC9C5BA0013009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAFD3171CC9C5BA0013009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
